body{
    background-color: cadetblue;
}
.main-containar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    height: 17vh;
    width: 49.5vh;
    background-color:  rgb(23, 23, 23);
    border: none;
    text-align: right;
    font-size: 3rem;
    margin: 0px;
    color: rgb(71, 197, 42);
    border-radius: 10px;
}
.containar{
    height: 50vh;
    width: 50vh;
    background-color: rgb(23, 23, 23);
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    align-content: end;
    justify-content: space-evenly;
    border-radius: 10px;
}
.box{
    height: 60px;
    width: 60px;
    margin: 5px;
    border-radius: 20px;
    font-size: 1rem;
    color: rgb(71, 197, 42);
}